body {
    background-image: 
        url(https://search.pstatic.net/common?type=a&size=225x150&quality=95&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2FportraitGroup%2F202012%2F20201202170717689.jpg);
    padding-left: 10%;
    padding-right: 10%;
    background-size: auto;
}
body header nav{
    width: 100%;
    background-color: aquamarine;
    display: block;
}
body header nav ul {
    display: flex;
}
body header nav ul li {
    list-style: none;
    margin: 10px;
    font-style: normal;
    font-weight: bold;
    font-family: sans-serif;
}

body main {
    display: flex;
    margin-bottom: 2%;
}
#contents {
    width: 71.5%;
    height: 550px;
    background-color: aquamarine;
    margin-right: 2%;
    overflow: auto;
}
#ad {
    width: 26.5%;
    height: 550px;
    background-image: 
        url(https://search.pstatic.net/common?type=a&size=120x150&quality=95&direct=true&src=http%3A%2F%2Fsstatic.naver.net%2Fpeople%2Fportrait%2F202012%2F20201202170306590.jpg);
    background-repeat: repeat;
}

body footer {
    background-color: aquamarine;
}
body footer address a {
    display: block;
}