body {
    background-color: antiquewhite;
    padding-left: 10%;
    padding-right: 10%;
}
body header nav{
    width: 100%;
    background-color: aquamarine;
    display: block;
}
body header nav ul {
    display: flex;
}
body header nav ul li {
    list-style: none;
    margin: 10px;
    font-style: normal;
    font-weight: bold;
    font-family: sans-serif;
}

body main {
    display: flex;
    margin-bottom: 2%;
}
#contents {
    width: 71.5%;
    height: 550px;
    background-color: aquamarine;
    margin-right: 2%;
    overflow: auto;
}
#ad {
    width: 26.5%;
    background-color: aquamarine;
}

body footer {
    background-color: aquamarine;
}
body footer address a {
    display: block;
}